<section class="section banner">

    <div class="slogan">
        <h1 class="h1 slogan__title">Поддержка здесь</h1>

        <p class="slogan__text">Мы любим общаться и рады всем отзывам, вопросам и предложениям. 
        Выберите удобный способ.
        </p>
    </div>
        
    <div class="btn-group">
        <button class="btn btn--white">
            <img src="./img/chat_black.svg" class="btn__icon" alt="chat icon" />
            Онлайн-чат
        </button>
        <button class="btn btn--white">
            <img src="./img/call_black.svg" class="btn__icon" alt="call icon" />
            Позвонить
        </button>
        <button class="btn btn--white">
            <img src="./img/email_black.svg" class="btn__icon" alt="email icon" />
            Почта
        </button>
        <button class="btn btn--white">
            <img src="./img/review.svg" class="btn__icon" alt="review icon" />
            Отзыв о сайте
        </button>
    </div>

</section>
