<div class="refs">
    <h2 class="h2">Справка</h2>

    <div class="link-group">

        <a href="#" class="link">
            <h4 class="h4">Бережная сборка</h4>
        </a>
        <a href="#" class="link">
            <h4 class="h4">Способы доставки и самовывоза</h4>
            <p class="link__text">
                Это карта лояльности с вашим номером покупат 
                Это карта лояльности с вашим номером покупат
            </p>
        </a>
        <a href="#" class="link">
            <h4 class="h4">Минимальная сумма заказа</h4>
        </a>
        <a href="#" class="link">
            <h4 class="h4">Лёгкий возврат</h4>
            <p class="link__text">
                Это карта лояльности с вашим номером покупат 
                Это карта лояльности с вашим номером покупат
            </p>
        </a>

    </div>
</div>