<section class="section section--narrow media">

    <div class="media__left">
        <p class="media__line">Социальные сети и сообщество</p>
        <h2 class="h2">Присоединяйтесь</h2>
    </div>
    <div class="media__right">
        <div class="icons-group">
            <a href="#" class="icon">
                <img src="../img/vk.svg" alt="vk icon" />
            </a>
            <a href="#" class="icon">
                <img src="../img/insta.svg" alt="insta icon" />
            </a>
            <a href="#" class="icon">
                <img src="../img/tiktok.svg" alt="tiktok icon" />
            </a>
            <a href="#" class="icon">
                <img src="../img/twitter.svg" alt="twitter icon" />
            </a>
            <a href="#" class="icon">
                <img src="../img/dzen.svg" alt="dzen icon" />
            </a>
            <a href="#" class="icon">
                <img src="../img/fb.svg" alt="fb icon" />
            </a>
        </div>
    </div>

</section>
