<div class="media">
    <div class="media__left">
        <p class="media__line">Социальные сети и сообщество</p>
        <h2 class="h2">Присоединяйтесь</h2>
    </div>
    <div class="media__right">
        <div class="icons-group">
            <a href="#" class="icon">
                <img src="../img/vk.svg" />
            </a>
            <a href="#" class="icon">
                <img src="../img/insta.svg" />
            </a>
            <a href="#" class="icon">
                <img src="../img/tiktok.svg" />
            </a>
            <a href="#" class="icon">
                <img src="../img/twitter.svg" />
            </a>
            <a href="#" class="icon">
                <img src="../img/dzen.svg" />
            </a>
            <a href="#" class="icon">
                <img src="../img/fb.svg" />
            </a>
        </div>
    </div>
</div>
