<section class="section">
    <h2 class="h2">Часто задаваемые вопросы</h2>

    <div class="slider" id="slider">

        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">Где работает доставка?</h4>
                    <p></p>
                </div>
                <img src="./img/vv_icon.png" class="card__img" />
            </div>
        </a>
    
        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">Где работает доставка?</h4>
                    <p class="card__text">Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим</p>
                </div>
            </div>
        </a>
    
        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">Где работает доставка?</h4>
                    <p class="card__text">Карта лояльности с вашим номером</p>
                </div>
                <img src="./img/vv_icon.png" class="card__img" />
            </div>
        </a>
    
        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">В какое время возможен самовывоз В какое время возможен самовывоз?</h4>
                    <p class="card__text">Карта лояльности с вашим</p>
                </div>
            </div>
        </a>
    
        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">Где работает доставка?</h4>
                    <p></p>
                </div>
                <img src="./img/vv_icon.png" class="card__img" />
            </div>
        </a>
    
        <a href="/article.html" class="card">
            <div class="card__wrapper">
                <div class="card__info">
                    <h4 class="h4">Где работает доставка?</h4>
                    <p class="card__text">Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим</p>
                </div>
            </div>
        </a>
    
    </div>
</section>

