/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    // @include tablet {
    //     font-size: 58.5%;
    // } 
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    align-items: stretch;
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    // overflow-x: hidden;
    position: relative;
    width: 100%;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    min-width: 128rem;
    // max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}

button, .btn {
    border: none;
    outline: none;
    cursor: pointer;
}
