/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    @include tablet {
        font-size: 58.5%;
    }

    @include mobile {
        font-size: 54.5%;
    } 
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    // align-items: stretch;
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    width: 100%;
    align-items: center;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    width: 128rem;
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;

    &--start {
       margin: 0;
       padding-top: 2.2rem; 
    }

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include mobile {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.section, .article {
    margin-bottom: 8rem;
    animation: fadeIn .4s ease-in-out;

    @include tablet {
        margin-bottom: 6rem;
    }
    @include mobile {
        margin-bottom: 6rem;
    }

    &--narrow {
        max-width: 99.6rem;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            max-width: 100%;
        }
        @include mobile {
            max-width: 100%;
        }
    }
}

button, .btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 1.5rem;
    transition: all .5s ease-in-out;

    @include mobile {
        font-size: 1.6rem;
    }

    &--white {
        background-color: $color-white;

        &:hover {
            background-color: #e7e6e6;
            transition: all .3s ease-in-out;
        }
    }

    &--green {
        background-color: $color-accent;

        &:hover {
            background-color: #299149;
            transition: all .3s ease-in-out;
        }
    }
}


//  Animations 

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
        opacity: 1;
	}
} 