/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    // @include tablet {
    //     font-size: 58.5%;
    // } 
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    align-items: stretch;
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 128rem;
    padding-left: 4rem;
    padding-right: 4rem;

    &--start {
       margin: 0;
       padding-top: 2.2rem; 
    }   
}

.section, .article {
    margin-bottom: 8rem;

    &--narrow {
        max-width: 99.6rem;
        margin-left: auto;
        margin-right: auto;
    }
}

button, .btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 1.5rem;

    &--white {
        background-color: $color-white;
    }

    &--green {
        background-color: $color-accent;
    }
}
