/*------------------*
# Headings
*------------------*/

h1, h2, h3, h4, h5, h6, p {
    color: $color-black;
    margin: 0;
}

/*
 * Heading font sizes
*/

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
    font-family: $base-font-family-bold;
    text-align: center;
}

h3 {
    font-size: $h3-size;
    font-family: $base-font-family-bold;
}

h4 {
    font-size: $h4-size;
    font-family: $base-font-family-bold;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
    line-height: 1.8rem;
    font-family: $base-font-family-bold;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}