{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="page-width page-width--start">

        <article class="article">
            <h3 class="h3 h3--article">Где работает доставка?</h3>

            <div class="article__text">
                <p class="article__p">
                    Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>
                    Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>
                    Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>
                    Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>
                </p>

                <div class="feedback">
                    <h6 class="feedback__note">
                        Проблема не решилась? Свяжитесь с нами, мы поможем
                    </h6>
                    <div class="feedback__btn-group">
                        <button class="btn btn--green">
                            <img src="../img/chat.svg" class="btn__icon" alt="chat icon" />
                            Онлайн-чат
                        </button>

                        <button class="btn btn--white">
                            <img src="../img/call.svg" class="btn__icon" alt="chat icon" />
                        </button>

                        <button class="btn btn--white">
                            <img src="../img/email.svg" class="btn__icon" alt="chat icon" />
                        </button>
                    </div>
                
                </div>
            </div>
        </article>

    </div>
</div>
{% endblock %}
