{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="page-width">

        {% include "banner.html" %}

        {% include "media.html" %}

        <div class="slider" id="slider">

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">Где работает доставка?</h4>
                        <p></p>
                    </div>
                    <img src="../img/vv_icon.svg" class="card__img" />
                </div>
            </div>

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">Где работает доставка?</h4>
                        <p class="card__text">Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">Где работает доставка?</h4>
                        <p class="card__text">Карта лояльности с вашим номером</p>
                    </div>
                    <img src="../img/vv_icon.svg" class="card__img" />
                </div>
            </div>

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">В какое время возможен самовывоз В какое время возможен самовывоз?</h4>
                        <p class="card__text">Карта лояльности с вашим</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">Где работает доставка?</h4>
                        <p></p>
                    </div>
                    <img src="../img/vv_icon.svg" class="card__img" />
                </div>
            </div>

            <div class="card">
                <div class="card__wrapper">
                    <div class="card__info">
                        <h4 class="h4">Где работает доставка?</h4>
                        <p class="card__text">Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
