.refs {
    @include mobile {
        margin-top: 10rem;
    }

    .h2 {
        margin-bottom: 2rem;
    }

    .link {
        display: block;
        border-radius: 1.6rem;
        box-shadow: 0px 0px 15px 2px #1a1a1a0d;
        margin: 1.2rem 0;
        padding: 2rem 2.4rem;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 1.2rem;
            width: .7rem;
            background-image: url('../img/arrow_grey.svg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 42%;
            right: 2.6rem;
        }

        .h4 {
            line-height: 2.4rem;
        }

        &__text {
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $color-grey;
            max-width: 42rem;
            margin-top: .4rem;

            @include mobile {
                font-size: 1.6rem;
                margin-top: .6rem;
                padding-right: 3rem;
            }
        }
    }
}