.slider {
    margin: 8rem 0;
    height: 18rem;

    .slick-arrow {
        width: 4.4rem;
        height: 4.4rem;
        background-color: $color-white;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0px 0px 10px 3px #1a1a1a0d;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .slick-next::before, .slick-prev::before {
        content: '';
        display: block;
        width: 7px;
        height: 12px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slick-next.slick-disabled, .slick-prev.slick-disabled {
        display: none;
        opacity: 0;
    }

    .slick-prev::before {
        transform: rotate(180deg);
        margin-left: 1.6rem;
    }   
}

.slick-slide {
    margin: 0 12px;
    height: 16rem;
}
.slick-list {
    margin: 0 -12px;
    height: 18rem;
}
.slick-track {
    height: 18rem;
    display: flex;
    align-items: center;
}

.card {
    width: 28.2rem;
    height: 16rem;
    box-shadow: 0px 0px 18px -1px #1a1a1a0d;
    margin-right: 2.4rem;
    display: flex;
    padding: 1.6rem;

    &:last-child {
        margin-right: 0;
    }

    &__wrapper {
        overflow: hidden;
        display: flex;
    }

    &__info {
        max-width: 98%;
    }

    &__text {
        color: $color-grey;
        line-height: 140%;
        overflow: hidden;
    }

    .h4 {
        margin-bottom: .8rem;
        line-height: 120%;   
    }
}